.header-header {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(315deg, rgb(221, 227, 232) 1.00%,rgb(255, 249, 207) 98.00%);
}
.header-navbar-interactive {
  align-self: center;
  background-color: transparent;
}
.header-logo {
  font-size: 2em;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
  text-decoration: none;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-nav12 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.header-nav12:hover {
  font-size: 23px;
}
.header-nav22 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-nav22:hover {
  font-size: 23px;
}
.header-nav32 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav32:hover {
  font-size: 23px;
}
.header-nav42 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav42:hover {
  font-size: 23px;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logo1 {
  font-size: 1.8em;
  align-self: center;
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.header-nav121 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav221 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav321 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav421 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-buttons {
  display: none;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}



@media(max-width: 991px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-logo {
    font-size: 1.8em;
  }
  .header-nav22 {
    font-size: 20px;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-nav32 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-nav42 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-buttons {
    display: none;
  }
  .header-root-class-name1 {
    top: 0px;
    left: 0px;
  }
  .header-root-class-name2 {
    top: 0px;
    left: 0px;
  }
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-mobile-menu1 {
    top: 24px;
    right: 32px;
    position: absolute;
  }
  .header-top {
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .header-close-menu {
    top: 0px;
    right: 0px;
    position: absolute;
    align-self: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-links1 {
    align-self: center;
  }
  .header-nav121 {
    align-self: center;
  }
  .header-nav221 {
    align-self: center;
  }
  .header-nav321 {
    align-self: center;
  }
  .header-nav421 {
    align-self: center;
  }
  .header-buttons {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu1 {
    padding: 16px;
  }
  .header-icon02 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-buttons {
    display: none;
  }
}

.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}















































@media(max-width: 479px) {
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-en-footer {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  background-image: linear-gradient(315deg, rgb(221, 227, 232) 1.00%,rgb(255, 249, 207) 98.00%);
}
.footer-en-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-en-text {
  align-self: center;
  text-align: left;
  font-family: "Arial";
}
.footer-en-container1 {
  flex: 0 0 auto;
  width: 1px;
  display: flex;
  align-self: stretch;
  box-shadow: 0px 5px 10px 1px rgba(212, 212, 212, 0.74);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #4e4e4e;
}
.footer-en-text1 {
  align-self: center;
  text-align: left;
  font-family: "Arial";
}


.footer-en-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
@media(max-width: 991px) {
  .footer-en-text {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-en-footer {
    align-items: stretch;
    justify-content: space-between;
  }
  .footer-en-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .footer-en-text1 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-en-root-class-name {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }
  .footer-en-root-class-name2 {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }
}
@media(max-width: 479px) {
  .footer-en-container {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}

.commercial-properties-en-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(315deg, rgb(221, 227, 232) 1.00%,rgb(255, 249, 207) 98.00%);
}
.commercial-properties-en-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: center;
}
.commercial-properties-en-hero1 {
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: transparent;
}
.commercial-properties-en-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.commercial-properties-en-hero-heading {
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-family: "Tahoma";
  font-weight: 400;
}
.commercial-properties-en-text002 {
  font-size: 3rem;
  text-align: center;
  font-family: "Tahoma";
}
.commercial-properties-en-text003 {
  font-style: normal;
  font-weight: 400;
}
.commercial-properties-en-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.commercial-properties-en-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.commercial-properties-en-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.commercial-properties-en-image {
  width: 500px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.commercial-properties-en-image1 {
  width: 500px;
  height: auto;
  object-fit: cover;
}
.commercial-properties-en-text019 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.commercial-properties-en-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
}
.commercial-properties-en-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.commercial-properties-en-container03 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.commercial-properties-en-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.commercial-properties-en-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.commercial-properties-en-container04 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.commercial-properties-en-gallery1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.commercial-properties-en-text043 {
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-family: "Tahoma";
  font-weight: 400;
}
.commercial-properties-en-text044 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.commercial-properties-en-container05 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.commercial-properties-en-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.commercial-properties-en-text051 {
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-family: "Tahoma";
  font-weight: 500;
}
.commercial-properties-en-text052 {
  font-size: 18px;
  max-width: var(--dl-size-size-maxwidth);
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Tahoma";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.commercial-properties-en-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.commercial-properties-en-text053 {
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-family: "Tahoma";
  font-weight: 500;
}
.commercial-properties-en-text054 {
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: "Tahoma";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.commercial-properties-en-text069 {
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.commercial-properties-en-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.commercial-properties-en-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commercial-properties-en-text094 {
  font-size: 1.5em;
}
.commercial-properties-en-image2 {
  width: 80%;
  max-width: 850px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.commercial-properties-en-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commercial-properties-en-text095 {
  font-size: 1.5em;
}
.commercial-properties-en-image3 {
  width: 80%;
  max-width: 850px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.commercial-properties-en-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commercial-properties-en-text096 {
  font-size: 1.5em;
}
.commercial-properties-en-image4 {
  width: 80%;
  max-width: 850px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.commercial-properties-en-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
}
.commercial-properties-en-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.commercial-properties-en-container10 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercial-properties-en-text100 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.commercial-properties-en-text101 {
  text-align: left;
}
.commercial-properties-en-container11 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercial-properties-en-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.commercial-properties-en-container13 {
  width: 600px;
  height: 600px;
}
.commercial-properties-en-container14 {
  display: contents;
}
@media(max-width: 991px) {
  .commercial-properties-en-hero1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .commercial-properties-en-container01 {
    width: 100%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .commercial-properties-en-hero-heading {
    text-align: center;
  }
  .commercial-properties-en-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .commercial-properties-en-container02 {
    width: 100%;
  }
  .commercial-properties-en-image {
    width: 400px;
  }
  .commercial-properties-en-image1 {
    width: 400px;
    height: auto;
  }
  .commercial-properties-en-text019 {
    text-align: center;
  }
  .commercial-properties-en-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .commercial-properties-en-text044 {
    text-align: center;
  }
  .commercial-properties-en-container05 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .commercial-properties-en-text052 {
    max-width: 100%;
  }
  .commercial-properties-en-text054 {
    max-width: 100%;
  }
  .commercial-properties-en-text069 {
    max-width: 100%;
  }
  .commercial-properties-en-text101 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .commercial-properties-en-hero {
    margin-top: var(--dl-space-space-halfunit);
  }
  .commercial-properties-en-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .commercial-properties-en-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-image {
    width: 300px;
  }
  .commercial-properties-en-image1 {
    width: 300px;
  }
  .commercial-properties-en-text019 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .commercial-properties-en-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .commercial-properties-en-container04 {
    grid-template-columns: 1fr;
  }
  .commercial-properties-en-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-text044 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .commercial-properties-en-container05 {
    grid-template-columns: 1fr 1fr;
  }
  .commercial-properties-en-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-text052 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .commercial-properties-en-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-text054 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .commercial-properties-en-text069 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .commercial-properties-en-faq1 {
    flex-direction: column;
  }
  .commercial-properties-en-container10 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .commercial-properties-en-text101 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .commercial-properties-en-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .commercial-properties-en-gallery {
    padding: var(--dl-space-space-unit);
  }
  .commercial-properties-en-container02 {
    flex-direction: column;
  }
  .commercial-properties-en-image {
    margin-right: 0px;
  }
  .commercial-properties-en-image1 {
    margin-top: var(--dl-space-space-halfunit);
  }
  .commercial-properties-en-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-gallery1 {
    padding: var(--dl-space-space-unit);
  }
  .commercial-properties-en-container05 {
    grid-template-columns: 1fr;
  }
  .commercial-properties-en-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .commercial-properties-en-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
