.header-wrapper {
  display: contents;
}
.header-header {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.header-navbar-interactive {
  align-self: center;
  background-color: transparent;
}
.header-image1 {
  width: auto;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.header-desktop-menu {
  flex: 1;
  color: #8C8166;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-nav121 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.header-nav121:hover {
  font-size: 23px;
}
.header-nav221 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-nav221:hover {
  font-size: 23px;
}
.header-nav321 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav321:hover {
  font-size: 23px;
}
.header-nav421 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav421:hover {
  font-size: 23px;
}
.header-burger-menu {
  display: none;
}
.header-icon10 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-link2 {
  display: contents;
}
.header-image2 {
  width: auto;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon12 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.header-nav122 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav222 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav322 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav422 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-buttons {
  display: none;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}





@media(max-width: 991px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-nav221 {
    font-size: 20px;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-nav321 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-nav421 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-buttons {
    display: none;
  }
  .headerroot-class-name1 {
    top: 0px;
    left: 0px;
  }
  .headerroot-class-name2 {
    top: 0px;
    left: 0px;
  }
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-icon10 {
    fill: #8C8166;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-mobile-menu1 {
    top: 24px;
    right: 32px;
    position: absolute;
    background-color: #ffffff;
  }
  .header-top {
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .header-close-menu {
    top: 0px;
    right: 0px;
    position: absolute;
    align-self: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header-icon12 {
    fill: #BCB193;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-links2 {
    align-self: center;
  }
  .header-nav122 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav222 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav322 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav422 {
    color: #8C8166;
    align-self: center;
  }
  .header-buttons {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu1 {
    padding: 16px;
  }
  .header-icon12 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-buttons {
    display: none;
  }
}

.footer-en-wrapper {
  display: contents;
}
.footer-en-footer {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.footer-en-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-en-text1 {
  color: #8C8166;
  align-self: center;
  text-align: left;
  font-family: "Arial";
}
.footer-en-container2 {
  flex: 0 0 auto;
  width: 1px;
  display: flex;
  align-self: stretch;
  box-shadow: 0px 5px 10px 1px rgba(212, 212, 212, 0.74);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #8C8166;
}
.footer-en-text2 {
  color: #8C8166;
  align-self: center;
  text-align: left;
  font-family: "Arial";
}


.footer-e-nroot-class-name2 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}


@media(max-width: 991px) {
  .footer-en-text1 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-en-footer {
    align-items: stretch;
    justify-content: space-between;
  }
  .footer-en-container1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .footer-en-text2 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-e-nroot-class-name {
    left: 0px;
    bottom: 0px;
    position: static;
  }
  .footer-e-nroot-class-name2 {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }
}
@media(max-width: 479px) {
  .footer-en-container1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}

.properties-contact-en-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.properties-contact-en-main-container-contents {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.properties-contact-en-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.properties-contact-en-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.properties-contact-en-text1 {
  color: #8c8080;
  font-size: 1.5em;
  margin-bottom: var(--dl-space-space-unit);
}
.properties-contact-en-text4 {
  color: rgb(140, 128, 128);
}
.properties-contact-en-container4 {
  width: 100%;
  height: 55vh;
}
.properties-contact-en-container5 {
  display: contents;
}
@media(max-width: 767px) {
  .properties-contact-en-main-container-contents {
    width: 98%;
  }
}
