.header-header {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.header-navbar-interactive {
  align-self: center;
  background-color: transparent;
}
.header-image {
  width: auto;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.header-desktop-menu {
  flex: 1;
  color: #8C8166;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-nav12 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.header-nav12:hover {
  font-size: 23px;
}
.header-nav22 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-nav22:hover {
  font-size: 23px;
}
.header-nav32 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav32:hover {
  font-size: 23px;
}
.header-nav42 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav42:hover {
  font-size: 23px;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-navlink1 {
  display: contents;
}
.header-image1 {
  width: auto;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.header-nav121 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav221 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav321 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav421 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-buttons {
  display: none;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}





@media(max-width: 991px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-nav22 {
    font-size: 20px;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-nav32 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-nav42 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-buttons {
    display: none;
  }
  .header-root-class-name1 {
    top: 0px;
    left: 0px;
  }
  .header-root-class-name2 {
    top: 0px;
    left: 0px;
  }
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    fill: #8C8166;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-mobile-menu1 {
    top: 24px;
    right: 32px;
    position: absolute;
    background-color: #ffffff;
  }
  .header-top {
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .header-close-menu {
    top: 0px;
    right: 0px;
    position: absolute;
    align-self: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header-icon02 {
    fill: #BCB193;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-links1 {
    align-self: center;
  }
  .header-nav121 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav221 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav321 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav421 {
    color: #8C8166;
    align-self: center;
  }
  .header-buttons {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu1 {
    padding: 16px;
  }
  .header-icon02 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-buttons {
    display: none;
  }
}

.gallery-card31-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container:hover {
  opacity: 1;
}
.gallery-card31-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.residential-property-gallery-image-gallery-residential-property {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.residential-property-gallery-container {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.residential-property-gallery-component {
  text-decoration: none;
}
.residential-property-gallery-component01 {
  text-decoration: none;
}
.residential-property-gallery-component02 {
  text-decoration: none;
}
.residential-property-gallery-component03 {
  text-decoration: none;
}
.residential-property-gallery-component04 {
  text-decoration: none;
}
.residential-property-gallery-component05 {
  text-decoration: none;
}
.residential-property-gallery-component06 {
  text-decoration: none;
}
.residential-property-gallery-component07 {
  text-decoration: none;
}
.residential-property-gallery-component08 {
  text-decoration: none;
}
.residential-property-gallery-component09 {
  text-decoration: none;
}
.residential-property-gallery-component10 {
  text-decoration: none;
}
.residential-property-gallery-component11 {
  text-decoration: none;
}
.residential-property-gallery-component12 {
  text-decoration: none;
}
.residential-property-gallery-component13 {
  text-decoration: none;
}
.residential-property-gallery-component14 {
  text-decoration: none;
}
.residential-property-gallery-component15 {
  text-decoration: none;
}
.residential-property-gallery-component16 {
  text-decoration: none;
}
.residential-property-gallery-component17 {
  text-decoration: none;
}
.residential-property-gallery-component18 {
  text-decoration: none;
}
.residential-property-gallery-component19 {
  text-decoration: none;
}
.residential-property-gallery-component20 {
  text-decoration: none;
}
.residential-property-gallery-component21 {
  text-decoration: none;
}
.residential-property-gallery-component22 {
  text-decoration: none;
}
.residential-property-gallery-component23 {
  text-decoration: none;
}


@media(max-width: 991px) {
  .residential-property-gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .residential-property-gallery-image-gallery-residential-property {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-property-gallery-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .residential-property-gallery-image-gallery-residential-property {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-property-gallery-container {
    grid-template-columns: 1fr;
  }
}

.footer-en-footer {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.footer-en-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-en-text {
  color: #8C8166;
  align-self: center;
  text-align: left;
  font-family: "Arial";
}
.footer-en-container1 {
  flex: 0 0 auto;
  width: 1px;
  display: flex;
  align-self: stretch;
  box-shadow: 0px 5px 10px 1px rgba(212, 212, 212, 0.74);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #8C8166;
}
.footer-en-text1 {
  color: #8C8166;
  align-self: center;
  text-align: left;
  font-family: "Arial";
}


.footer-en-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}



@media(max-width: 991px) {
  .footer-en-text {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-en-footer {
    align-items: stretch;
    justify-content: space-between;
  }
  .footer-en-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .footer-en-text1 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-en-root-class-name {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }
  .footer-en-root-class-name2 {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }
}
@media(max-width: 479px) {
  .footer-en-container {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}

.residential-properties-en-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.residential-properties-en-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: center;
}
.residential-properties-en-hero1 {
  padding: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: transparent;
}
.residential-properties-en-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.residential-properties-en-hero-heading {
  color: #8C8166;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-en-text02 {
  color: #8C8166;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: "Tahoma";
  font-weight: 400;
}
.residential-properties-en-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.residential-properties-en-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.residential-properties-en-image {
  width: 500px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.residential-properties-en-text05 {
  color: #8C8166;
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-en-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-en-text08 {
  color: rgb(140, 129, 102);
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-en-text09 {
  color: rgb(140, 129, 102);
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.residential-properties-en-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.residential-properties-en-container4 {
  width: 600px;
  height: 600px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.residential-properties-en-container5 {
  display: contents;
}
@media(max-width: 991px) {
  .residential-properties-en-hero1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .residential-properties-en-container1 {
    width: 100%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .residential-properties-en-hero-heading {
    text-align: center;
  }
  .residential-properties-en-container2 {
    width: 100%;
  }
  .residential-properties-en-image {
    width: 400px;
  }
  .residential-properties-en-text09 {
    max-width: 100%;
  }
  .residential-properties-en-container4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .residential-properties-en-hero {
    margin-top: var(--dl-space-space-halfunit);
  }
  .residential-properties-en-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-image {
    width: 300px;
  }
  .residential-properties-en-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-text09 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .residential-properties-en-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-properties-en-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .residential-properties-en-gallery {
    padding: var(--dl-space-space-unit);
  }
  .residential-properties-en-container2 {
    flex-direction: column;
  }
  .residential-properties-en-image {
    margin-right: 0px;
  }
  .residential-properties-en-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
