.header-header {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.header-navbar-interactive {
  align-self: center;
  background-color: transparent;
}
.header-image {
  width: auto;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.header-desktop-menu {
  flex: 1;
  color: #8C8166;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-nav12 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.header-nav12:hover {
  font-size: 23px;
}
.header-nav22 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-nav22:hover {
  font-size: 23px;
}
.header-nav32 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav32:hover {
  font-size: 23px;
}
.header-nav42 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav42:hover {
  font-size: 23px;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-navlink1 {
  display: contents;
}
.header-image1 {
  width: auto;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.header-nav121 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav221 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav321 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav421 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.header-buttons {
  display: none;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}



@media(max-width: 991px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-nav22 {
    font-size: 20px;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-nav32 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-nav42 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-buttons {
    display: none;
  }
  .header-root-class-name2 {
    top: 0px;
    left: 0px;
  }
  .header-root-class-name1 {
    top: 0px;
    left: 0px;
  }
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    fill: #8C8166;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-mobile-menu1 {
    top: 24px;
    right: 32px;
    position: absolute;
    background-color: #ffffff;
  }
  .header-top {
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .header-close-menu {
    top: 0px;
    right: 0px;
    position: absolute;
    align-self: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header-icon02 {
    fill: #BCB193;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-links1 {
    align-self: center;
  }
  .header-nav121 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav221 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav321 {
    color: #8C8166;
    align-self: center;
  }
  .header-nav421 {
    color: #8C8166;
    align-self: center;
  }
  .header-buttons {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu1 {
    padding: 16px;
  }
  .header-icon02 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-buttons {
    display: none;
  }
}

.gallery-card2-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2-container {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.gallery-card2-container:hover {
  opacity: 1;
}
.gallery-card2-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card2-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card2-text2 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-card2-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card2-root-class-name {
  flex: 1;
}
.gallery-card2-root-class-name1 {
  flex: 1;
  height: 100%;
}


.gallery-card2-root-class-name4 {
  flex: 1;
  height: 100%;
}

.gallery-card2-root-class-name6 {
  flex: 1;
}




.gallery-card2-root-class-name11 {
  flex: 1;
}




@media(max-width: 767px) {
  .gallery-card2-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card2-container {
    max-width: auto;
  }
  .gallery-card2-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.gallery-card21-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card21-container {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.gallery-card21-container:hover {
  opacity: 1;
}
.gallery-card21-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card21-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card21-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card21-text2 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-card21-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card21-root-class-name {
  flex: 1;
}
.gallery-card21-root-class-name1 {
  flex: 1;
  height: 100%;
}


.gallery-card21-root-class-name4 {
  flex: 1;
  height: 100%;
}

.gallery-card21-root-class-name6 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name7 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name8 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name9 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name10 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name11 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name12 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name13 {
  flex: 1;
  height: 100%;
}
@media(max-width: 767px) {
  .gallery-card21-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card21-container {
    max-width: auto;
  }
  .gallery-card21-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.footer-en-footer {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ffffff;
}
.footer-en-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-en-text {
  color: #8C8166;
  align-self: center;
  text-align: left;
  font-family: "Arial";
}
.footer-en-container1 {
  flex: 0 0 auto;
  width: 1px;
  display: flex;
  align-self: stretch;
  box-shadow: 0px 5px 10px 1px rgba(212, 212, 212, 0.74);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #8C8166;
}
.footer-en-text1 {
  color: #8C8166;
  align-self: center;
  text-align: left;
  font-family: "Arial";
}


.footer-en-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}

@media(max-width: 991px) {
  .footer-en-text {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-en-footer {
    align-items: stretch;
    justify-content: space-between;
  }
  .footer-en-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .footer-en-text1 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-en-root-class-name {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }
  .footer-en-root-class-name2 {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }
}
@media(max-width: 479px) {
  .footer-en-container {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}

.residential-properties-en-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.residential-properties-en-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: center;
}
.residential-properties-en-hero1 {
  padding: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: transparent;
}
.residential-properties-en-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.residential-properties-en-hero-heading {
  color: #8C8166;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-en-text02 {
  color: #8C8166;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: "Tahoma";
  font-weight: 400;
}
.residential-properties-en-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.residential-properties-en-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.residential-properties-en-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.residential-properties-en-image {
  width: 500px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.residential-properties-en-text19 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.residential-properties-en-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
}
.residential-properties-en-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.residential-properties-en-container03 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.residential-properties-en-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.residential-properties-en-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.residential-properties-en-container04 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.residential-properties-en-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-en-text43 {
  color: #8C8166;
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-en-gallery1 {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.residential-properties-en-container05 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.residential-properties-en-container06 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.residential-properties-en-container07 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-en-container08 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-en-container09 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.residential-properties-en-gallery2 {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.residential-properties-en-container10 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-en-container11 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.residential-properties-en-container12 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-en-container13 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-en-container14 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-en-container15 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-en-gallery3 {
  width: 100%;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.residential-properties-en-container16 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-en-container17 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-en-container18 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-en-container19 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-en-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-en-text46 {
  color: #8C8166;
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-en-text47 {
  color: #8C8166;
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.residential-properties-en-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
}
.residential-properties-en-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.residential-properties-en-container20 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.residential-properties-en-text74 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.residential-properties-en-text75 {
  text-align: left;
}
.residential-properties-en-container21 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.residential-properties-en-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.residential-properties-en-container23 {
  width: 600px;
  height: 600px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.residential-properties-en-container24 {
  display: contents;
}
.residential-properties-en-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-en-footer1 {
  align-items: stretch;
  flex-direction: column;
  background-color: transparent;
}
.residential-properties-en-container25 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.residential-properties-en-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.residential-properties-en-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.residential-properties-en-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.residential-properties-en-nav42 {
  margin-left: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .residential-properties-en-hero1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .residential-properties-en-container01 {
    width: 100%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .residential-properties-en-hero-heading {
    text-align: center;
  }
  .residential-properties-en-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .residential-properties-en-container02 {
    width: 100%;
  }
  .residential-properties-en-image {
    width: 400px;
  }
  .residential-properties-en-text19 {
    text-align: center;
  }
  .residential-properties-en-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .residential-properties-en-container14 {
    width: 100%;
  }
  .residential-properties-en-container15 {
    width: 100%;
  }
  .residential-properties-en-container17 {
    width: 100%;
  }
  .residential-properties-en-container18 {
    width: 100%;
  }
  .residential-properties-en-container19 {
    width: 100%;
  }
  .residential-properties-en-text47 {
    max-width: 100%;
  }
  .residential-properties-en-text75 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .residential-properties-en-container23 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .residential-properties-en-hero {
    margin-top: var(--dl-space-space-halfunit);
  }
  .residential-properties-en-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .residential-properties-en-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-image {
    width: 300px;
  }
  .residential-properties-en-text19 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .residential-properties-en-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .residential-properties-en-container04 {
    grid-template-columns: 1fr;
  }
  .residential-properties-en-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-container06 {
    flex-direction: column;
  }
  .residential-properties-en-gallery2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-container11 {
    flex-direction: column;
  }
  .residential-properties-en-gallery3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-en-text47 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .residential-properties-en-faq1 {
    flex-direction: column;
  }
  .residential-properties-en-container20 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .residential-properties-en-text75 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .residential-properties-en-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .residential-properties-en-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-properties-en-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .residential-properties-en-gallery {
    padding: var(--dl-space-space-unit);
  }
  .residential-properties-en-container02 {
    flex-direction: column;
  }
  .residential-properties-en-image {
    margin-right: 0px;
  }
  .residential-properties-en-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-properties-en-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-properties-en-gallery1 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .residential-properties-en-container05 {
    width: auto;
  }
  .residential-properties-en-gallery2 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .residential-properties-en-container10 {
    width: auto;
  }
  .residential-properties-en-gallery3 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .residential-properties-en-container16 {
    width: auto;
  }
  .residential-properties-en-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-properties-en-footer1 {
    padding: var(--dl-space-space-unit);
  }
}
