.header-gr-header {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.header-gr-navbar-interactive {
  align-self: center;
  background-color: transparent;
}
.header-gr-image {
  width: auto;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.header-gr-desktop-menu {
  flex: 1;
  color: #8C8166;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-gr-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-gr-nav12 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.header-gr-nav12:hover {
  font-size: 23px;
}
.header-gr-nav22 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-gr-nav22:hover {
  font-size: 23px;
}
.header-gr-nav32 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-gr-nav32:hover {
  font-size: 23px;
}
.header-gr-nav42 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-gr-nav42:hover {
  font-size: 23px;
}
.header-gr-burger-menu {
  display: none;
}
.header-gr-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-gr-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.header-gr-nav {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-gr-top {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-gr-navlink1 {
  display: contents;
}
.header-gr-image1 {
  width: auto;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.header-gr-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-gr-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-gr-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.header-gr-nav121 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-gr-nav221 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-gr-nav321 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-gr-nav421 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-gr-buttons {
  display: none;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-gr-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-gr-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-gr-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}




@media(max-width: 991px) {
  .header-gr-navbar-interactive {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-gr-nav22 {
    font-size: 20px;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-gr-nav32 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-gr-nav42 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-gr-top {
    flex-direction: row;
  }
  .header-gr-buttons {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-gr-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-gr-desktop-menu {
    display: none;
  }
  .header-gr-burger-menu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-gr-icon {
    fill: #8C8166;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-gr-top {
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .header-gr-close-menu {
    top: 0px;
    right: 0px;
    position: absolute;
    align-self: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header-gr-icon02 {
    fill: #bcb193;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-gr-nav121 {
    color: #8C8166;
  }
  .header-gr-nav221 {
    color: #8C8166;
    align-self: center;
  }
  .header-gr-nav321 {
    color: #8C8166;
    align-self: center;
  }
  .header-gr-nav421 {
    color: #8C8166;
    align-self: center;
  }
  .header-gr-buttons {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-gr-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-gr-mobile-menu1 {
    padding: 16px;
  }
  .header-gr-icon02 {
    fill: #BCB193;
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-gr-nav121 {
    color: #8c8166;
  }
  .header-gr-nav221 {
    color: #8c8166;
  }
  .header-gr-nav321 {
    color: #8c8166;
  }
  .header-gr-nav421 {
    color: #8c8166;
  }
  .header-gr-buttons {
    display: none;
  }
}

.gallery-card2-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2-container {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.gallery-card2-container:hover {
  opacity: 1;
}
.gallery-card2-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card2-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card2-text2 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-card2-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card2-root-class-name {
  flex: 1;
}
.gallery-card2-root-class-name1 {
  flex: 1;
  height: 100%;
}


.gallery-card2-root-class-name4 {
  flex: 1;
  height: 100%;
}

.gallery-card2-root-class-name6 {
  flex: 1;
}




.gallery-card2-root-class-name11 {
  flex: 1;
}




@media(max-width: 767px) {
  .gallery-card2-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card2-container {
    max-width: auto;
  }
  .gallery-card2-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.gallery-card21-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card21-container {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.gallery-card21-container:hover {
  opacity: 1;
}
.gallery-card21-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card21-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card21-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card21-text2 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-card21-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card21-root-class-name {
  flex: 1;
}
.gallery-card21-root-class-name1 {
  flex: 1;
  height: 100%;
}


.gallery-card21-root-class-name4 {
  flex: 1;
  height: 100%;
}

.gallery-card21-root-class-name6 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name7 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name8 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name9 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name10 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name11 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name12 {
  flex: 1;
  height: 100%;
}
.gallery-card21-root-class-name13 {
  flex: 1;
  height: 100%;
}
@media(max-width: 767px) {
  .gallery-card21-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card21-container {
    max-width: auto;
  }
  .gallery-card21-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.footer-gr-footer {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}
.footer-gr-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-gr-text {
  color: #8C8166;
  align-self: center;
  text-align: left;
  font-family: "Arial";
}
.footer-gr-container1 {
  flex: 0 0 auto;
  width: 1px;
  height: var(--dl-size-size-medium);
  display: flex;
  align-self: stretch;
  box-shadow: 0px 5px 10px 1px rgba(212, 212, 212, 0.74);
  align-items: flex-start;
  flex-direction: column;
  background-color: #8C8166;
}
.footer-gr-text1 {
  color: #8C8166;
  align-self: center;
  text-align: left;
  font-family: "Arial";
}



@media(max-width: 991px) {
  .footer-gr-container {
    position: relative;
  }
  .footer-gr-text {
    margin-right: var(--dl-space-space-halfunit);
  }
  .footer-gr-text1 {
    margin-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-gr-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .footer-gr-root-class-name {
    left: 0px;
    bottom: 0px;
    position: absolute;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .footer-gr-container {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}

.residential-properties-gr-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.residential-properties-gr-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: center;
}
.residential-properties-gr-hero1 {
  padding: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: transparent;
}
.residential-properties-gr-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.residential-properties-gr-hero-heading {
  color: #8C8166;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-gr-text02 {
  color: #8C8166;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: "Tahoma";
  font-weight: 400;
}
.residential-properties-gr-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.residential-properties-gr-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.residential-properties-gr-image {
  width: 500px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.residential-properties-gr-text05 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.residential-properties-gr-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-gr-text12 {
  color: #8C8166;
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-gr-gallery1 {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.residential-properties-gr-container03 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.residential-properties-gr-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.residential-properties-gr-container05 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-gr-container06 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-gr-container07 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.residential-properties-gr-gallery2 {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.residential-properties-gr-container08 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-gr-container09 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.residential-properties-gr-container10 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-gr-container11 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-gr-container12 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-gr-container13 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-gr-gallery3 {
  width: 100%;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.residential-properties-gr-container14 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-gr-container15 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-gr-container16 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-gr-container17 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.residential-properties-gr-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.residential-properties-gr-text13 {
  color: #8C8166;
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.residential-properties-gr-text14 {
  color: #8C8166;
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.residential-properties-gr-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
}
.residential-properties-gr-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.residential-properties-gr-container18 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.residential-properties-gr-text41 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.residential-properties-gr-text42 {
  text-align: left;
}
.residential-properties-gr-container19 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.residential-properties-gr-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.residential-properties-gr-container21 {
  width: 600px;
  height: 600px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.residential-properties-gr-container22 {
  display: contents;
}
.residential-properties-gr-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.residential-properties-gr-footer1 {
  align-items: stretch;
  flex-direction: column;
  background-color: transparent;
}
.residential-properties-gr-container23 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.residential-properties-gr-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.residential-properties-gr-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.residential-properties-gr-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.residential-properties-gr-nav42 {
  margin-left: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .residential-properties-gr-hero1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .residential-properties-gr-container01 {
    width: 100%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .residential-properties-gr-hero-heading {
    text-align: center;
  }
  .residential-properties-gr-container02 {
    width: 100%;
  }
  .residential-properties-gr-image {
    width: 400px;
  }
  .residential-properties-gr-text05 {
    text-align: center;
  }
  .residential-properties-gr-container12 {
    width: 100%;
  }
  .residential-properties-gr-container13 {
    width: 100%;
  }
  .residential-properties-gr-container15 {
    width: 100%;
  }
  .residential-properties-gr-container16 {
    width: 100%;
  }
  .residential-properties-gr-container17 {
    width: 100%;
  }
  .residential-properties-gr-text14 {
    max-width: 100%;
  }
  .residential-properties-gr-text42 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .residential-properties-gr-container21 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .residential-properties-gr-hero {
    margin-top: var(--dl-space-space-halfunit);
  }
  .residential-properties-gr-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-image {
    width: 300px;
  }
  .residential-properties-gr-text05 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .residential-properties-gr-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-container04 {
    flex-direction: column;
  }
  .residential-properties-gr-gallery2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-container09 {
    flex-direction: column;
  }
  .residential-properties-gr-gallery3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-text14 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .residential-properties-gr-faq1 {
    flex-direction: column;
  }
  .residential-properties-gr-container18 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .residential-properties-gr-text42 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .residential-properties-gr-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .residential-properties-gr-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .residential-properties-gr-gallery {
    padding: var(--dl-space-space-unit);
  }
  .residential-properties-gr-container02 {
    flex-direction: column;
  }
  .residential-properties-gr-image {
    margin-right: 0px;
  }
  .residential-properties-gr-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-gallery1 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .residential-properties-gr-container03 {
    width: auto;
  }
  .residential-properties-gr-gallery2 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .residential-properties-gr-container08 {
    width: auto;
  }
  .residential-properties-gr-gallery3 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .residential-properties-gr-container14 {
    width: auto;
  }
  .residential-properties-gr-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-properties-gr-footer1 {
    padding: var(--dl-space-space-unit);
  }
}
