.navbar-rodon8-navbar-rodon8 {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.navbar-rodon8-navbar-interactive {
  align-self: center;
  background-color: transparent;
}
.navbar-rodon8-image {
  width: 200px;
  object-fit: cover;
}
.navbar-rodon8-desktop-menu {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.navbar-rodon8-links {
  flex: 1;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-rodon8-nav12 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navbar-rodon8-nav12:hover {
  font-size: 23px;
}
.navbar-rodon8-nav22 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 500;
  line-height: 1.15;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.navbar-rodon8-nav22:hover {
  font-size: 23px;
}
.navbar-rodon8-nav32 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-rodon8-nav32:hover {
  font-size: 23px;
}
.navbar-rodon8-nav42 {
  font-size: 20px;
  transition: 0.3s;
  font-family: "Tahoma";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-rodon8-nav42:hover {
  font-size: 23px;
}
.navbar-rodon8-burger-menu {
  display: none;
}
.navbar-rodon8-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.navbar-rodon8-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-rodon8-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-rodon8-top {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-rodon8-logo {
  font-size: 1.8em;
  align-self: center;
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.navbar-rodon8-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-rodon8-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.navbar-rodon8-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-rodon8-nav121 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-rodon8-nav221 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-rodon8-nav321 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-rodon8-nav421 {
  font-size: large;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-rodon8-buttons {
  display: none;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-rodon8-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-rodon8-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-rodon8-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .navbar-rodon8-navbar-interactive {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .navbar-rodon8-nav22 {
    font-size: 20px;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .navbar-rodon8-nav32 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .navbar-rodon8-nav42 {
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .navbar-rodon8-buttons {
    display: none;
  }
}
@media(max-width: 767px) {
  .navbar-rodon8-navbar-interactive {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-rodon8-desktop-menu {
    display: none;
  }
  .navbar-rodon8-burger-menu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-rodon8-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .navbar-rodon8-mobile-menu1 {
    top: 24px;
    right: 32px;
    position: absolute;
  }
  .navbar-rodon8-top {
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .navbar-rodon8-close-menu {
    top: 0px;
    right: 0px;
    position: absolute;
    align-self: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .navbar-rodon8-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .navbar-rodon8-links1 {
    align-self: center;
  }
  .navbar-rodon8-nav121 {
    align-self: center;
  }
  .navbar-rodon8-nav221 {
    align-self: center;
  }
  .navbar-rodon8-nav321 {
    align-self: center;
  }
  .navbar-rodon8-nav421 {
    align-self: center;
  }
  .navbar-rodon8-buttons {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-rodon8-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-rodon8-mobile-menu1 {
    padding: 16px;
  }
  .navbar-rodon8-icon02 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .navbar-rodon8-buttons {
    display: none;
  }
}

.rodon-footer-rodon-footer {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ffffff;
}
.rodon-footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.rodon-footer-text {
  align-self: center;
  text-align: left;
  font-family: "Arial";
}
.rodon-footer-container1 {
  flex: 0 0 auto;
  width: 1px;
  display: flex;
  align-self: stretch;
  box-shadow: 0px 5px 10px 1px rgba(212, 212, 212, 0.74);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #4e4e4e;
}
.rodon-footer-text1 {
  align-self: center;
  text-align: left;
  font-family: "Arial";
}
@media(max-width: 991px) {
  .rodon-footer-text {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .rodon-footer-rodon-footer {
    align-items: stretch;
    justify-content: space-between;
  }
  .rodon-footer-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .rodon-footer-text1 {
    margin-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .rodon-footer-container {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}

.rodon8-main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.rodon8-main-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.rodon8-main-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding-top: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
}
.rodon8-main-text {
  width: 100%;
  height: auto;
  font-size: 1.5em;
  align-self: center;
  text-align: center;
  font-family: "Tahoma";
}
.rodon8-main-container3 {
  width: 100%;
  height: 606px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.rodon8-main-image {
  width: var(--dl-size-size-maxwidth);
  height: auto;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.rodon8-main-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
}
.rodon8-main-container5 {
  flex: 0 0 auto;
  width: 12em;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.rodon8-main-navlink {
  display: contents;
}
.rodon8-main-image1 {
  width: 90%;
  height: 90%;
  align-self: center;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.rodon8-main-image1:hover {
  width: 100%;
  height: 100%;
}
.rodon8-main-container6 {
  flex: 0 0 auto;
  width: 12em;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.rodon8-main-navlink1 {
  display: contents;
}
.rodon8-main-image2 {
  width: 90%;
  height: 90%;
  align-self: center;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.rodon8-main-image2:hover {
  width: 100%;
  height: 100%;
}
@media(max-width: 991px) {
  .rodon8-main-container2 {
    flex: 1;
    width: auto;
    height: 355px;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
  }
  .rodon8-main-text {
    width: auto;
  }
  .rodon8-main-image {
    width: var(--dl-size-size-maxwidth);
    height: auto;
    margin-bottom: 0px;
  }
  .rodon8-main-container4 {
    margin-top: 0px;
  }
  .rodon8-main-image1 {
    width: 90%;
    height: 90%;
  }
  .rodon8-main-image2 {
    width: 90%;
    height: 90%;
  }
}
@media(max-width: 767px) {
  .rodon8-main-container3 {
    height: auto;
  }
  .rodon8-main-image {
    width: 650px;
    height: auto;
  }
  .rodon8-main-container5 {
    width: 150px;
    height: auto;
  }
  .rodon8-main-image1 {
    width: 90%;
    height: 90%;
  }
  .rodon8-main-container6 {
    width: 150px;
    height: auto;
  }
  .rodon8-main-image2 {
    width: 90%;
    height: 90%;
  }
}
@media(max-width: 479px) {
  .rodon8-main-container2 {
    height: 450px;
  }
  .rodon8-main-image {
    width: 450px;
  }
  .rodon8-main-container5 {
    width: 120px;
    height: auto;
    margin-right: var(--dl-space-space-halfunit);
  }
  .rodon8-main-image1 {
    width: 90%;
  }
  .rodon8-main-container6 {
    width: 120px;
    height: auto;
    margin-right: var(--dl-space-space-halfunit);
  }
  .rodon8-main-image2 {
    width: 90%;
  }
}
