.image-slider-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image-slider-slide1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.image-slider-image1 {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}
.image-slider-leftbutton1 {
  flex: 0 0 auto;
  left: 3%;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: #e8e5d4;
}
.image-slider-leftbutton1:hover {
  background-color: #dad6bf;
}
.image-slider-icon10 {
  top: 0px;
  fill: #858585;
  left: 0px;
  right: 0px;
  width: 38px;
  bottom: 0px;
  height: 38px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.image-slider-rightbutton1 {
  top: 225px;
  flex: 0 0 auto;
  right: 3%;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: #e8e5d4;
}
.image-slider-rightbutton1:hover {
  background-color: #dad6bf;
}
.image-slider-icon12 {
  top: 0px;
  fill: #858585;
  left: 0px;
  right: 0px;
  width: 38px;
  bottom: 0px;
  height: 38px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.image-slider-slide2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.image-slider-image2 {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}
.image-slider-leftbutton2 {
  flex: 0 0 auto;
  left: 3%;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: #e8e5d4;
}
.image-slider-leftbutton2:hover {
  background-color: #dad6bf;
}
.image-slider-icon14 {
  top: 0px;
  fill: #858585;
  left: 0px;
  right: 0px;
  width: 38px;
  bottom: 0px;
  height: 38px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.image-slider-rightbutton2 {
  top: 225px;
  flex: 0 0 auto;
  right: 3%;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: #e8e5d4;
}
.image-slider-rightbutton2:hover {
  background-color: #dad6bf;
}
.image-slider-icon16 {
  top: 0px;
  fill: #858585;
  left: 0px;
  right: 0px;
  width: 38px;
  bottom: 0px;
  height: 38px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.image-slider-slide3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.image-slider-image3 {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}
.image-slider-leftbutton3 {
  flex: 0 0 auto;
  left: 3%;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: #e8e5d4;
}
.image-slider-leftbutton3:hover {
  background-color: #dad6bf;
}
.image-slider-icon18 {
  top: 0px;
  fill: #858585;
  left: 0px;
  right: 0px;
  width: 38px;
  bottom: 0px;
  height: 38px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.image-slider-rightbutton3 {
  top: 225px;
  flex: 0 0 auto;
  right: 3%;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: #e8e5d4;
}
.image-slider-rightbutton3:hover {
  background-color: #dad6bf;
}
.image-slider-icon20 {
  top: 0px;
  fill: #858585;
  left: 0px;
  right: 0px;
  width: 38px;
  bottom: 0px;
  height: 38px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.image-sliderroot-class-name1 {
  width: auto;
  min-width: auto;
}
