.gallery-card31-wrapper {
  display: contents;
}
.gallery-card31-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container:hover {
  opacity: 1;
}
.gallery-card31-text1 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text2 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text1 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-bd8m {
  display: contents;
}
.gallery-card31-gallery-card1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image1 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container1 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container1:hover {
  opacity: 1;
}
.gallery-card31-text3 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text4 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text3 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-msix {
  display: contents;
}
.gallery-card31-gallery-card2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image2 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container2 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container2:hover {
  opacity: 1;
}
.gallery-card31-text5 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text6 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text5 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-n7ck {
  display: contents;
}
.gallery-card31-gallery-card3 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image3 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container3 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container3:hover {
  opacity: 1;
}
.gallery-card31-text7 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text8 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text7 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-max7 {
  display: contents;
}
.gallery-card31-gallery-card4 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image4 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container4 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container4:hover {
  opacity: 1;
}
.gallery-card31-text9 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text10 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text9 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-hjs6 {
  display: contents;
}
.gallery-card31-gallery-card5 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image5 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container5 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container5:hover {
  opacity: 1;
}
.gallery-card31-text11 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text12 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text11 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-tart {
  display: contents;
}
.gallery-card31-gallery-card6 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image6 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container6 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container6:hover {
  opacity: 1;
}
.gallery-card31-text13 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text14 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text13 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-m8tp {
  display: contents;
}
.gallery-card31-gallery-card7 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image7 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container7 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container7:hover {
  opacity: 1;
}
.gallery-card31-text15 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text16 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text15 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-aqgp {
  display: contents;
}
.gallery-card31-gallery-card8 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image8 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container8 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container8:hover {
  opacity: 1;
}
.gallery-card31-text17 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text18 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text17 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-nop4 {
  display: contents;
}
.gallery-card31-gallery-card9 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image9 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container9 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container9:hover {
  opacity: 1;
}
.gallery-card31-text19 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text20 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text19 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-5tlp {
  display: contents;
}
.gallery-card31-gallery-card10 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image10 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container10 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container10:hover {
  opacity: 1;
}
.gallery-card31-text21 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text22 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text21 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-1300 {
  display: contents;
}
.gallery-card31-gallery-card11 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image11 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container11 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container11:hover {
  opacity: 1;
}
.gallery-card31-text23 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text24 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text23 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-asqj {
  display: contents;
}
.gallery-card31-gallery-card12 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image12 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container12 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container12:hover {
  opacity: 1;
}
.gallery-card31-text25 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text26 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text25 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-wp9j {
  display: contents;
}
.gallery-card31-gallery-card13 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image13 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container13 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container13:hover {
  opacity: 1;
}
.gallery-card31-text27 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text28 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text27 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-fju5 {
  display: contents;
}
.gallery-card31-gallery-card14 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image14 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container14 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container14:hover {
  opacity: 1;
}
.gallery-card31-text29 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text30 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text29 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-2t22 {
  display: contents;
}
.gallery-card31-gallery-card15 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image15 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container15 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container15:hover {
  opacity: 1;
}
.gallery-card31-text31 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text32 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text31 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-6txa {
  display: contents;
}
.gallery-card31-gallery-card16 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image16 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container16 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container16:hover {
  opacity: 1;
}
.gallery-card31-text33 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text34 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text33 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-af9a {
  display: contents;
}
.gallery-card31-gallery-card17 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image17 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container17 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container17:hover {
  opacity: 1;
}
.gallery-card31-text35 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text36 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text35 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-xzg3 {
  display: contents;
}
.gallery-card31-gallery-card18 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image18 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container18 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container18:hover {
  opacity: 1;
}
.gallery-card31-text37 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text38 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text37 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-zmap {
  display: contents;
}
.gallery-card31-gallery-card19 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image19 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container19 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container19:hover {
  opacity: 1;
}
.gallery-card31-text39 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text40 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text39 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-my2k {
  display: contents;
}
.gallery-card31-gallery-card20 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image20 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container20 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container20:hover {
  opacity: 1;
}
.gallery-card31-text41 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text42 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text41 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-2dfv {
  display: contents;
}
.gallery-card31-gallery-card21 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image21 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container21 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container21:hover {
  opacity: 1;
}
.gallery-card31-text43 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text44 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text43 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-7nfo {
  display: contents;
}
.gallery-card31-gallery-card22 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image22 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container22 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container22:hover {
  opacity: 1;
}
.gallery-card31-text45 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text46 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text45 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card31-wrapper-39uh {
  display: contents;
}
.gallery-card31-gallery-card23 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image23 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container23 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container23:hover {
  opacity: 1;
}
.gallery-card31-text47 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card31-text48 {
  color: var(--dl-color-gray-white);
  text-align: center;
}





































@media(max-width: 479px) {
  .gallery-card31-text47 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.residential-property-gallery-image-gallery-residential-property {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.residential-property-gallery-container {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.residential-property-gallery-component10 {
  text-decoration: none;
}
.residential-property-gallery-component11 {
  text-decoration: none;
}
.residential-property-gallery-component12 {
  text-decoration: none;
}
.residential-property-gallery-component13 {
  text-decoration: none;
}
.residential-property-gallery-component14 {
  text-decoration: none;
}
.residential-property-gallery-component15 {
  text-decoration: none;
}
.residential-property-gallery-component16 {
  text-decoration: none;
}
.residential-property-gallery-component17 {
  text-decoration: none;
}
.residential-property-gallery-component18 {
  text-decoration: none;
}
.residential-property-gallery-component19 {
  text-decoration: none;
}
.residential-property-gallery-component20 {
  text-decoration: none;
}
.residential-property-gallery-component21 {
  text-decoration: none;
}
.residential-property-gallery-component22 {
  text-decoration: none;
}
.residential-property-gallery-component23 {
  text-decoration: none;
}
.residential-property-gallery-component24 {
  text-decoration: none;
}
.residential-property-gallery-component25 {
  text-decoration: none;
}
.residential-property-gallery-component26 {
  text-decoration: none;
}
.residential-property-gallery-component27 {
  text-decoration: none;
}
.residential-property-gallery-component28 {
  text-decoration: none;
}
.residential-property-gallery-component29 {
  text-decoration: none;
}
.residential-property-gallery-component30 {
  text-decoration: none;
}
.residential-property-gallery-component31 {
  text-decoration: none;
}
.residential-property-gallery-component32 {
  text-decoration: none;
}
.residential-property-gallery-component33 {
  text-decoration: none;
}


@media(max-width: 991px) {
  .residential-property-gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .residential-property-gallery-image-gallery-residential-property {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .residential-property-gallery-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .residential-property-gallery-image-gallery-residential-property {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .residential-property-gallery-container {
    grid-template-columns: 1fr;
  }
}
